body {
    color: rgb(97, 97, 97);
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}
li a{
    text-decoration: none;
    text-transform: uppercase;
    color: teal;
    letter-spacing: .2em;
    margin: 2px;
    transition: ease-in 1;
    -webkit-transition: ease-in 1;
    -moz-transition: ease-in 1;
    -ms-transition: ease-in 1;
    -o-transition: ease-in 1;
}
li a:hover {
    color: lightsteelblue
}
h1{
    margin: 10px 0px 10px 0px;
}
.main {
    background: white;
    max-width: 80vw;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    order: 1;
    min-height: 300px;
}
.centeritems{
    justify-content: center;
}
.container {
    margin-left: 10px;
    margin-right: 10px;
}
.start-grid-at {
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: 20% 20%; */
    grid-template-rows: [row] auto;
}
.content {
    margin: 50px 0px 100px 0px;
    position: relative;
}
.navigation {
    background: white;
  box-shadow: 0 0 20px 0px #00000021;
}
.introimg{
    float: left;
    margin: 10px;
    grid-row: row;
    order: 0;

}
li {
    text-decoration: none;
    list-style: none;
    display: inline;
}

.logo {
    width: 60%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 2em;
    padding: 10px;
    background: teal;
    grid-row: row;
}
.items-nav {
    /* grid-column: col 3 / span 2; */
    padding: 20px;
    grid-row: row;
    text-align: right;
}
.gallery {
    display: grid
}
footer {
    bottom: 0;
    height: 2.5rem;    
    background: #252525;
    padding: 10px;
   position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}
label {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .2em;
    display: block
}

input {
    min-height: 30px;
}
input,textarea {
    margin: 10px 0px 10px 0px;
    width: 99%
}
textarea {
    height: 10em;
    border-color: lightgray
}
.formsub {
    text-transform: uppercase;
    color: gray;
    font-weight: 600;
    font-size: 1.1em;
    border-width: 2px;
    height: 35px;
    margin: 10px 0px 10px 0px;
    min-width: 100px;
    border-radius:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-color: gray;
    -webkit-transition: color 1s, height 1s;
    /*ForSafari3.1to6.0*/transition: color 1s, border-color 1s;
    -moz-transition: color 1s, border-color 1s;
    -ms-transition: color 1s, border-color 1s;
    -o-transition: color 1s, border-color 1s;
}
.formsub:hover {
    border-color: lightgray;
    color: lightgray
}
button:active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }